* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

body {
  margin: 0;
  background-color: #252525;
  color:whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: #252525;
  color: white;
}

.center {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 16.6%;
  text-align: center;
}

.navbar a:hover {
  background-color: gray;
}

.navbar a.active {
  background-color: grey;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
